// Bring in vanilla Bootstrap ...
@import 'custom-bootstrap/bootstrap.less';
// ... and then decorate it with Statesman styles
@import 'custom-bootstrap/variables.less';

@import "../../bower_components/font-awesome/less/font-awesome";

@import "header";
@import "footer";
@import "type";
@import "utils";

.container {
  @media (min-width: @screen-sm-min) {
    padding-left: 75px;
    padding-right: 75px;
  }
}

body {
    background-image: url('../assets/bg_out.png');
    background-size: cover;
}

.navbar{
    border-bottom:1px solid #ddd;
    -webkit-box-shadow:0 0 13px rgba(0,0,0,.1);
    box-shadow:0 0 13px rgba(0,0,0,.1);
    min-height:60px;
}

.navbar-brand { padding:5px 15px;}

.main {
    margin-top:90px;
}

.bold {
    font-weight:bold;
}

.ital {
    font-style:italic;
}

div.checkbox {
    margin-bottom:20px;
}

.check_label {
    font-size:110%;
}

.item {
    background: white;
    margin-bottom: 30px;
}

.item .inner-wrapper {
    padding: 20px;
}


#results_count, #submit_button {
    margin-top:20px;
}

#more_filter_click {
    cursor: pointer;
}

.muted {
    color:#aaa;
}

.sharebox {
    margin: 0;
    background: #C3082A;
    color: white;
    padding:20px 20px 1px 20px;
    vertical-align: middle;
}

#filter_wrapper, #geo_search_wrapper {
    display:none;
}

.sharebox a i {
    color: white;
}

.interactive-header {
    padding:20px;
    background: #eee;
    box-shadow: 0 0 5px #ccc;
}
